useDynLib(mmBPFA, .registration=TRUE)
import(abind)
import(dplyr)
import(graphics)
import(mvtnorm)
import(parallel)
import(purrr)
importFrom(Rcpp, evalCpp)
importFrom(stats, density, median,
           dpois, ppois, qpois, rpois,
           dnorm, pnorm, qnorm, rnorm,
           dlnorm, plnorm, qlnorm, rlnorm,
           dgamma, pgamma, qgamma, rgamma,
           dbeta, pbeta, qbeta, rbeta,
           dchisq, pchisq, qchisq, rchisq,
           dt, pt, qt, rt,
           dunif, punif, qunif, runif,
           dcauchy, pcauchy, qcauchy, rcauchy,
           dexp, pexp, qexp, rexp,
           dlogis, plogis, qlogis, rlogis,
           dweibull, pweibull, qweibull, rweibull,
           dbinom, pbinom, qbinom, rbinom,
           dnbinom, pnbinom, qnbinom, rnbinom,
           dgeom, pgeom, qgeom, rgeom,
           quantile, time)
import(tibble)
import(tictoc)
import(tidyr)
import(truncnorm)
importFrom(utils, setTxtProgressBar, txtProgressBar)
import(zeallot)
exportPattern("^[[:alpha:]]+")
