useDynLib(mmBPFA, .registration=TRUE)
import(abind)
import(dplyr)
import(graphics)
import(mvtnorm)
import(purrr)
importFrom(Rcpp, evalCpp)
import(tibble)
import(tictoc)
import(tidyverse)
import(truncnorm)
importFrom(utils, setTxtProgressBar, txtProgressBar)
import(zeallot)
exportPattern("^[[:alpha:]]+")
